* {
    box-sizing: border-box;
}

.flex-left {
    flex: 1;
}

.flex-right {
    flex: 3;
}

img {
    width: 90px;
    height: 90px;
}

h2 {
    font-family: fantasy;
    margin: 15px;
    border-right: 5px solid black;
    padding: 20px;
}
/* Header Styles Start */

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-color: orange;
}

.header h1 {
    font-family: fantasy;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px, 30px, 10px, 30px;
    background-color: peachpuff;
    padding: 30px;
    font-size: 48px;
}

.header ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.header ul li {
    padding: 15px;
}

.header ul li a {
    font-family: fantasy;
    font-size: 20px;
    text-decoration: none;
}

/* Header Styles End */

/* Hero Styles Start */

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/hero.jpeg);
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Hero Styles End */

/* About Me Styles Start */

.about-me {
    display: flex;
    flex-wrap: wrap;
}

.about-me p {
    font-family: fantasy;
    margin: 20px;
}

/* About Me Styles End */

/* Work Styles Start */

.work {
    display: flex;
    flex-wrap: wrap;
}

.work a{
    font-family: fantasy;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-left: 10px;
    text-decoration: none;
    font-size: 26px;
}

.work article {
    margin: 20px;
}

.horiseon {
    height: 200px;
    background-image: url("../images/horiseon-screenshot.png");
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    flex: 2 80%;
}

.run-buddy {
    height: 150px;
    width: 45%;
    background-image: url("../images/run-buddy-screenshot.png");
    background-position: top;
    display: inline-flex;
    justify-content: left;
    flex-wrap: wrap;
    flex: 1;
}

.project-3 {
    height: 150px;
    width: 45%;
    background-image: url("../images/run-buddy-screenshot.png");
    background-position: top;
    display: inline-flex;
    justify-content: left;
    flex-wrap: wrap;
    flex: 1;
}

.project-4 {
    height: 150px;
    width: 45%;
    background-image: url("../images/run-buddy-screenshot.png");
    background-position: top;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    flex: 1.5;
}







/* Work Styles End */

/* Contact Me Styles Start */

.contact-me {
    font-family: fantasy;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-me ul {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.contact-me ul li {
    padding: 7px;
}

/* Contact Me Styles End */

/* Resume Styles Start */

.resume {
    font-family: fantasy;
    display: flex;
    flex-wrap: wrap;
}

/* Resume Styles End */





