* {
    box-sizing: border-box;
}

body {
    background-color: peachpuff;
    font-family: fantasy, sans-serif;
    
}

.flex-left {
    flex: 1;
}

.flex-right {
    flex: 3;
}

h2 {
    justify-content: center;
    margin: 15px;
    border-right: 5px solid black;
    padding: 20px;
}

/* Header Styles Start */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    top: 0;
    background-color: orange;
    padding: 0;
    margin-bottom: 0;
}

header h1 {
    display: flex;
    justify-content: flex-start;
    align-items: right;
    flex-wrap: wrap;
    margin: 10px, 30px, 10px, 30px;
    background-color: peachpuff;
    padding: 30px;
    font-size: 48px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header ul li {
    padding: 30px;
}

header ul li a {
    font-size: 24px;
    text-decoration: none;
}

/* Header Styles End */

/* Hero Styles Start */

.hero {
    height: 200px;
    width: 100%;
    margin: 0;
    background-image: url(../images/hero.jpeg);
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 200px;
    width: 100px;
}

/* Hero Styles End */

/* About Me Styles Start */

.about-me {
    display: flex;
    flex-wrap: wrap;
}

.about-me p {
    margin: 20px;
}

/* About Me Styles End */

/* Work Styles Start */

.work {
    display: flex;
    flex-wrap: wrap;
}

.work a {
    color: orange;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-left: 10px;
    text-decoration: none;
    font-size: 26px;
}

.work article {
    border: solid 6px orange;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 20px;
    background-position: center;
}

.work article:hover {
    opacity: 95%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.horiseon {
    height: 230px;
    width: 94%;
    display: flex;
    flex-wrap: wrap;
}

.horiseon a {
    background-position: top left;
    background-size: 110%;
    background-image: url("../images/run-buddy-screenshot.png");
    flex: 3;
}

.run-buddy {
    height: 150px;
    width: 45%;
    display: inline-flex;
    justify-content: left;
    flex-wrap: wrap;
}

.run-buddy a {
    background: 100%;
    background-image: url("../images/project-2-background.jpeg");
    flex: 3;
}

.project-3 {
    height: 150px;
    width: 45%;
    display: inline-flex;
    justify-content: left;
    flex-wrap: wrap;
}

.project-3 a {
    background: 50%;
    background-image: url("../images/movie-match-screenshot.png");
    flex: 3;
}

.project-4 {
    height: 150px;
    width: 45%;
    display: inline-flex;
    justify-content: left;
    flex-wrap: wrap;
}

.project-4 a {
    background: 25%;
    background-image: url("../images/media-gems-screenshot.png");
    flex: 3;
}

.project-5 {
    height: 150px;
    width: 45%;
    display: inline-flex;
    justify-content: left;
    flex-wrap: wrap;
}

.project-5 a {
    background: 100%;
    background-image: url("../images/project-5-background.jpeg");
    flex: 3;
}

/* Work Styles End */

/* Contact Me Styles Start */

.contact-me {
    display: flex;
    flex-wrap: wrap;
}

.contact-me ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.contact-me ul li {
    padding: 15px;
}

.contact-me ul li a {
    font-size: 16px;
    text-decoration: underline;
    color: black;
}

/* Contact Me Styles End */



/* Media Queries */

/* Media Query For Small Desktop Screens & Smaller */
@media screen and (max-width: 1205px) {


    body h2 {
        font-size: 24px;
        border-right: 5px solid black;
        justify-content: left;
    }

    /* Hero Styles Start */

    /* Hero Styles End */

    /* Header Styles End */

    header h1 {
        margin: 10px;
        padding: 15px;
        font-size: 40px;
    }

    header ul li a {
        font-size: 24px;
    }
 
    /* Header Styles End */

    /* Work Styles Start */

    .work h2 {
        padding: 18px;
        margin: 18px;
    }

    .run-buddy, .project-3, .project-4, .project-5 {
        display: flex;
        justify-content: right;
        width: 94%;
        flex-wrap: wrap;
    }

    /* Work Styles End */

}

/* Media Query For Even Smaller Desktop Screens & Smaller */
@media screen and (max-width: 980px) {

    body h2 {
        font-size: 32px;
    }
 
    /* Header Styles End */

    header h1 {
        margin: 10px;
        padding: 15px;
        font-size: 50px;
    }
 
    /* Header Styles End */

    /* About Me Styles Start */

    .about-me {
        display: block;
        text-align: center;
        padding-bottom: 50px;
    }

    .about-me h2 {
        padding: 5px;
        border: none;
        border-bottom: solid 3px black;
        margin: 5px;
    }

    .about-me p {
        font-size: 21px;
    }
    
    /* About Me Styles End */

    /* Work Styles Start */

    .work {
        display: block;
        text-align: center;
        padding-bottom: 50px;
    }

    .work h2 {
        padding: 5px;
        border: none;
        border-bottom: solid 3px black;
        margin: 5px;
    }

    .run-buddy, .project-3, .project-4, .project-5 {
        display: flex;
        width: 94%;
        flex-wrap: wrap;
    }

    /* Work Styles End */

    /* Contact Me Styles Start */

    .contact-me {
        display: block;
        text-align: center;
        padding-bottom: 50px;
    }

    .contact-me h2 {
        padding: 5px;
        border: none;
        border-bottom: solid 3px black;
        margin: 5px;
    }

    .contact-me ul li a {
        font-size: 18px;
    }

    /* Contact Me Styles End */

}




/* Media Query For Tablets & Smaller */
@media screen and (max-width: 768px) {
    
    body h2 {
        font-size: 36px;
    }
 
    /* Header Styles End */

    header h1 {
        margin: 10px;
        padding: 15px;
        font-size: 60px;
    }
 
    /* Header Styles End */

    /* About Me Styles Start */

    .about-me p {
        width: 300px;
    }
    /* About Me Styles End */

}

/* Media Query For Mobile Phones & Smaller */
@media screen and (max-width: 575px) {
    
    body h2 {
        font-size: 46px;
    }

    /* About Me Styles Start */

    .about-me p {
        width: 300px;
    }
    /* About Me Styles End */




}






